<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="test1.css">
</head>

<body>
    <h1>Todo Application</h1>
    <div class="head">
        <form th:action="@{/todo/home}" th:object="${task}" method="post">
            <input type="text" placeholder="Add a new task..." th:field="*{taskName}">
            <select name="category">
                <option value="">-- Select Category --</option>
                <option value="study">Học tập</option>
                <option value="working">Làm việc</option>
                <option value="living">Sinh hoạt</option>
                <option value="other">Khác</option>
            </select>
            <button type="submit">Add</button>
        </form>
    </div>
    <div class="menu">
        <div class="caculate">
            <p>Tổng số công việc: <span th:text="${countTask}"></span></p>
            <p>Số công việc đã hoàn thành: <span th:text="${countTaskCompleted}"></span></p>
            <p>Số công việc còn lại: <span th:text="${countTaskNotCompleted}"></span></p>
        </div>
        <div class="sorting">
            <form th:action="@{/todo/home}" method="get" class="func">
                <label for="sortBy">Sắp xếp theo: </label>
                <select name="sortBy" id="sortBy">
                    <option value="createdAt" th:selected="${sortBy == 'createdAt'}">Thời gian tạo</option>
                    <option value="completed" th:selected="${sortBy == 'completed'}">Trạng thái</option>
                    <option value="taskName" th:selected="${sortBy == 'taskName'}">Tên công việc</option>
                </select>
                <select name="direction">
                    <option value="asc" th:selected="${direction == 'asc'}">Tăng dần</option>
                    <option value="desc" th:selected="${direction == 'desc'}">Giảm dần</option>
                </select>
                <button type="submit">Lọc</button>
            </form>
            <form action="">
                <button class="btn"></button>
                <button class="btn"></button>
                <button class="btn"></button>
                <button class="btn"></button>
            </form>
        </div>
    </div>
    <div class="todo-list">
        <ul>
            <li>
                <div th:each="task : ${listTask}" th:class="${task.completed} ? 'task-complete' : 'task'" class="task">
                    <div class="category">dsđs</div>
                    <div class="content">
                        <p th:text="*{task.taskName}">Content</p>
                        <div class="buttonHehe">
                            <form th:action="@{/todo/toggle/{id}(id=${task.id})}" method="post">
                                <input type="hidden" name="_method" value="PUT" />
                                <button class="toggle" type="submit">Hoàn thành</button>
                            </form>
                            <form th:action="@{/todo/update/{id}(id=${task.id})}" method="post">
                                <input type="hidden" name="_method" value="PUT">
                                <button class="update" type="submit">Chỉnh sửa</button>
                            </form>
                            <form th:action="@{/todo/delete/{id}(id=${task.id})}" method="post">
                                <input type="hidden" name="_method" value="DELETE" />
                                <button class="delete" type="submit">Xóa</button>
                            </form>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div>
        <form action="">
            <div class="update-info">
                <button class="update-exit">X</button>
                <div class="update-info-name">
                    <p>Họ tên</p>
                    <input type="text" placeholder="Khuong...">
                </div>
                <button type="submit" class="update-confirm">Xác nhận</button>
            </div>
        </form>
    </div>
    <script>
        const updateInfo = document.querySelector(".update-info");
        const updateBtn = document.querySelector("button.update");
        const updateExit = document.querySelector("button.update-exit");
        updateBtn.addEventListener("click", (e) => {
            e.preventDefault();
            updateInfo.style.display = "block";
        })
        updateExit.addEventListener("click", () => {
            updateInfo.style.display = "none";
        })

    </script>
</body>

</html>