* {
  margin: 0;
  padding: 0;
}
body {
  width: 1200px;
}
.fisrt {
  display: flex;
  background-color: rgb(234, 126, 126);
}
.logo img {
  padding: 10px;
  height: 50px;
  width: 200px;
}
.logo {
  padding: 10px;
}
.logo h2 {
  padding: 0 10px;
}
.search {
  width: 500px;
  padding: 40px;
}
.search input {
  width: 90%;
}
.search i {
  background-color: black;
  color: aliceblue;
  padding: 3px;
}
.mini {
  font-size: 20px;
  display: flex;
  padding: 40px;
}
.mini p {
  padding-left: 20px;
}
.mini i {
  background-color: black;
  color: aliceblue;
  height: 25px;
}
.menu {
  background-color: black;
}
.menu ul {
  display: flex;
  justify-content: space-between;
}
.menu ul li {
  list-style: none;
  padding: 10px;
}
.menu ul li a {
  text-decoration: none;
  color: aliceblue;
}
.main {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
}
.slide_bar {
  width: 650px;
  margin-left: 10px;
}
.slide_bar ul li {
  list-style: none;
  padding: 10px;
  border: 1px solid black;
}
.slide_bar ul li a {
  text-decoration: none;
}
.slide_bar ul li {
  position: relative;
}
.slide_bar ul li .submenu {
  position: absolute;
  display: none;
  top: -1px;
  left: 175px;
  min-width: 120px;
  background-color: brown;
}
.slide_bar ul li:hover {
  background-color: beige;
}
.slide_bar ul li:hover .submenu {
  display: block;
}

.big_logo img {
  width: 650px;
  height: 460px;
}
.small img {
  width: 310px;
  height: 150px;
}
.big_logo,
.small {
  padding: 10px 0 10px 10px;
}
.small {
  padding-left: 40px;
}
.last {
  display: flex;
  justify-content: space-between;
}
.last img {
  width: 30%;
  padding-left: 10px;
  height: 100px;
}
.menu ul li {
  position: relative;
}
.menu ul li .dropdown {
  position: absolute;
  display: none;
  min-width: 120px;
  background-color: brown;
  left: 0;
  top: 30px;
}
.menu ul li:hover .dropdown {
  display: block;
}
.menu ul li:hover {
  background-color: rgb(172, 172, 7);
}
.menu ul.dropdown li {
  position: relative;
}
.menu ul.dropdown li .chil {
  position: absolute;
  display: none;
  top: 0;
  left: 120px;
  min-width: 180px;
  background-color: brown;
}
.menu ul.dropdown li:hover .chil {
  display: block;
}
