* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
}

.header img {
    height: 100px;
}

.header-search input {
    width: 300px;
    height: 30px;
}

.header-search select {
    height: 30px;
}

.header-cart {
    background-color: #FF3399;
    color: white;
    height: 30px;
    padding: 10px;
}

.header-cart:hover {
    color: red;
    background-color: yellow;
}

.menu {
    background-color: black;
    color: white;
    height: 50px;
}

.menu-main {
    display: flex;
    justify-content: space-between;
    list-style: none;
    height: 50px;
    align-items: center;
}

.cap1:hover {
    background-color: #FF3399;
}

.cap2 {
    position: relative;
}



.submenu {
    position: absolute;
    display: none;
    top: 200%;
    left: 0%;
    list-style: none;
    background-color: white;
    color: black;
}

.menu-main li:hover .submenu {
    display: block;
}


.content-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
}

.view-icon button {
    width: 20px;
    height: 20px;
    background-color: #000;
}

.dropdowns select {
    padding: 5px;
    font-size: 14px;
}

.pagination {
    display: flex;
    gap: 5px;
}

.pagination a {
    padding: 5px 10px;
    text-decoration: none;
    color: #000;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.pagination a.active,
.pagination a:hover {
    background-color: #000;
    color: #fff;
}

.content-main {
    display: flex;
    flex-wrap: wrap;
}

.content1 {
    width: 300px;
    align-items: center;
    justify-items: center;
    margin-right: 30px;
}

.content1 img {
    margin-top: 30px;
    height: 400px;
    width: 200px;
}

.content1 img:hover {
    transform: scale(1.1);
}

.sale {
    display: flex;
}

.sale .new {
    margin-right: 200px;
}

.content-info {
    background-color: #003366;
    width: 100%;
    justify-items: center;
}

.content-info p {
    font-weight: bold;
    color: white;
    font-size: 20px;
}

.price {
    display: flex;
    justify-content: space-evenly;
}

.new-price {
    margin-right: 30px;
    color: white;
    font-weight: normal;
}

.new-price:hover {
    color: #FFFF66;
}

.old-price {
    font-size: 18px;
    color: red;
    text-decoration: line-through;
}