* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    background-color: red;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-right {
    display: flex;
    color: white;
    gap: 0 15px;
    margin-right: 20px;
}

.header-right .icon1:hover {
    color: black;
}

.img1 {
    margin-left: 30px;
    height: 100px;
}

.header-left input {
    margin-left: 40px;
    width: 400px;
    height: 50px;
}


.img2 {
    height: 50px;
}

.menu {
    background-color: black;
}

.menu ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.menu li p {
    color: white;
    margin: 10px 20px;
}

.menu li:hover {
    background-color: pink;
}

.menu li:hover p {
    color: gray;
}

.menu .menu_cap_2 {
    position: relative;
}

.menu .submenu {
    position: absolute;
    display: none;
    color: black;
}

.menu_cap_2:hover>.submenu {
    display: block;
}